<td class="table-division">
  {{!-- <div><img src="{{this.image}}" alt="img" class="table-image" /></div> --}}
  <div><img src="https://images.ctfassets.net/od02wyo8cgm5/15daJoODkpqtt8WkU4Lf1f/eb2bffaa8db4a91dc913e21d5e226495/cloudrush-fw19-black_white-m-d.png" alt="img" class="table-image" /></div>
</td>
<td class="table-division">
  <div>{{this.name}}</div>
</td>
<td class="table-division">
  <div>{{this.ref}}</div>
</td>
<td class="table-division">
  <div>${{this.price}}</div>
</td>
<td class="table-division">
  <a href="/product-edit/{{this._id}}" data-id-sneaker="{{this._id}}" class="fa fa-edit table-icon"></a>
</td>
<td class="table-division">
  <span class="fa fa-trash table-icon" data-id-sneaker="{{this._id}}"  aria-hidden="true"></span>
</td>