<a id ="{{this._id}}" href="/one-product/{{this._id}}" class="product-item-wrapper">
    <div class="product-img">
        {{!-- <img src="{{this.image}}" alt="{{this.name}} : what a nice pair of kicks"> --}}
        <img src="https://images.ctfassets.net/od02wyo8cgm5/15daJoODkpqtt8WkU4Lf1f/eb2bffaa8db4a91dc913e21d5e226495/cloudrush-fw19-black_white-m-d.png" alt="{{this.name}} : what a nice pair of kicks">
    </div>
    <p class="product-name">{{this.name}}</p>
    <p class="product-cat">{{this.category}}</p>
    <p class="product-price">{{this.price}}</p>
</a>